@include b('navbar') {
  margin: 0 0 1rem;
  background-color: $grey-darker;
  color: $grey-lighter;
  font: normal 1.3rem/2rem 'Droid Sans', sans-serif;

  @include e('list') {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    position: relative;
    @include m('sub') {
      display: none;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
    }
  }
  @include e('item') {
    color: $grey-lighter;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    list-style: none;
    position: relative;
    &:hover {
      color: $orange-base;
    }

    &:hover > ul {
      display: flex;
    }

    @include m('sub') {
      color: $grey-lighter;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: $grey-dark;
      white-space: nowrap;
      padding: 0.2rem;
      padding-left: 1rem;
      &:hover {
        color: $grey-lighter;
        background-color: $orange-base;
        border-left-color: $orange-base;
      }

      &:hover > .navbar__list--sub {
        display: block;
        top: 0;
        left: 100%;
      }
    }
  }
}